@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(43, 91, 191);
  background-color: #3d81c7;
  background-color: #214367;
  background-color: #425669;
  background-color: #52616f;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 2rem;
  color: white;

  .burger-icon {
    justify-self: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1rem;
    cursor: pointer;

    .line {
      height: 0.125rem;
      background-color: white;
    }
  }

  .logo {
    justify-self: center;
    font-size: 1.5rem;
  }

  .version {
    justify-self: right;
    font-weight: 600;
  }
}

.home-screen {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 23, 27);
  background-color: rgb(12, 25, 51);
  background-color: #263544;
  color: white;
  transform: translateY(0);
  transition: transform 150ms ease-in-out;

  &.hidden {
    transform: translateY(calc(-100vh + 4rem));
  }
}

.set-list {
  display: flex;
  list-style: none;

  .set-item {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
    background-color: transparent;
    color: #67b2ff;
    font-family: "Montserrat";
    font-size: 1rem;
    transition: background-color 150ms;
    cursor: pointer;

    &.active {
      border-radius: 0.25rem;
      background-color: #3d81c7;
      color: white;
    }
  }
}

.set {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(2, 180px);
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;

  .preview {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 4rem;
}

.title {
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.board-slot {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  padding: 0.125rem;
  padding: 0.0625rem;
  background-color: rgb(128, 157, 208);
  background-color: #0c1933;
  background-color: #263544;
  // box-shadow: 0 0 0 26px #3d81c7;
}

.entity {
  position: relative;
  display: grid;
  grid-template: 0.125rem 1fr 0.125rem / 0.125rem 1fr 0.125rem;
  grid-template: 0.0625rem 1fr 0.0625rem / 0.0625rem 1fr 0.0625rem;

  > div {
    pointer-events: none;
  }
}

.core {
  grid-area: 2 / 2;
}

.block {
  cursor: pointer;

  > div,
  &:before,
  &:after {
    background-color: #f7d156;
  }
}

.master-block {
  cursor: pointer;

  > div,
  &:before,
  &:after {
    background-color: #e24343;
  }
}

.block,
.master-block {
  cursor: pointer;
}

.wall {
  > div,
  &:before,
  &:after {
    background-color: #2b5bbf;
    background-color: #3d81c7;
  }
}

.gate {
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0dda6e;
  }

  &:before,
  &:after {
    background-color: #0dda6e;
  }
}

.edge {
  &-top:before {
    content: "";
    grid-row: 1 / span 2;
    grid-column: 2;
  }

  &-bottom:before {
    content: "";
    grid-row: 2 / span 2;
    grid-column: 2;
  }

  &-top-bottom:before {
    content: "";
    grid-row: 1 / span 3;
    grid-column: 2;
  }

  &-left:after {
    content: "";
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  &-right:after {
    content: "";
    grid-row: 2;
    grid-column: 2 / span 2;
  }

  &-left-right:after {
    content: "";
    grid-row: 2;
    grid-column: 1 / span 3;
  }
}

.corner {
  background-color: rgba(0, 0, 0, 0.5);

  &-top {
    &-left {
      grid-area: 1 / 1;
    }

    &-right {
      grid-area: 1 / 3;
    }
  }

  &-bottom {
    &-left {
      grid-area: 3 / 1;
    }

    &-right {
      grid-area: 3 / 3;
    }
  }
}

.target .core {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target .core:after,
.unlocked > .core:after {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.unlocked > .core:after {
  background-color: rgb(128, 157, 208);
  background-color: #0c1933;
}

.target .core:after {
  animation-name: targetPulse;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.openable {
  cursor: pointer;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes targetPulse {
  0% {
    background-color: rgb(14, 19, 25);
  }

  40% {
    background-color: rgb(14, 19, 25);
  }

  50% {
    background-color: #e24343;
  }

  60% {
    background-color: rgb(14, 19, 25);
  }

  100% {
    background-color: rgb(14, 19, 25);
  }
}
